.logos {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 50px;
  }

  .lgbtfobia {
    display: flex;
    justify-content: space-evenly;

  }

  h1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

  }

  h2 {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    margin-top: 50px;
    /* padding: 35px 0; */
  }

  p {
    display: flex;
    justify-content: space-evenly;
    font-size: small;
  }

  .dados {
    display: flex;
    justify-content: space-evenly;
  }